body{
    background-color: #C1D72F;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h1{
    margin:0;
}
h2{
    margin:1%;
}
#letters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2vh;
    margin-left: 3%;
    margin-right:  3%;
}
#letters > span{
    padding:1.5%;
    width: 1.25%;
    background-color: white;
    color:#C1D72F;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    font-weight:bolder;
}
#lifes{
    padding:20px;
}
img{
    width: 8vh;
    position: relative;
}
#word{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:3%;
    padding-bottom:2%;
    gap:2%;
}
#word span{
    padding:0.5%;
    border-bottom: 3px solid white;
    font-size:25px;
    width: 20px;
    text-align: center;
}
#lose{
    font-weight:bolder;
    font-size:20px;
    color:red;
    font-family: sans-serif;
    -webkit-text-stroke: 1px black;
}
.balanceo{
    animation-name: balanceo;
    animation-duration: .2s;
  }
@keyframes balanceo {
    0%{transform: rotate(-30deg)}
    25%{transform: rotate(-60deg)}
    50%{transform: rotate(0deg)}
    75%{transform: rotate(30deg)}
    100%{transform: rotate(60deg)}
  }

